.character_container {
  width: 200px;
  height: 300px;
  background-color: #333;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  padding-top: 10px;
}

.character_image {
  width: 150px;
  border-radius: 50%;
}

.character_name {
  color: white;
}
